.search-bar {
    width: 280px;
    height: 34px;
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    border-radius: 4px;
    padding: 0 12px;
    box-sizing: border-box;
}

.search-icon {
    width: 18px;
    height: 18px;

    margin-right: 8px;
}

.search-bar input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}