.top-bar-element {
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.top-bar-element-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-element-icon svg {
    width: 24px;
    height: 24px;
}

.top-bar-element-title {
    font-size: 12px;
    margin-top: 2px;
    white-space: nowrap;
}